body {
  background-color: #202124;
  font-family: 'arial', sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  min-height: 500px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  width: 100%;
}

.item{
  align-items: center;
  text-align: center;
  margin: 0.5svh;
}

.header a {
  color:#bdc1c5;
  text-decoration: none;
  margin: 0 10px;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.gimg {
  max-width: 50svh;
  min-width: 20svh;
  height: auto;
}

form{
  margin-bottom: 10svh;
}

.bottom {
  width: 100%;
  background-color: #171717;
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-between;
  left: 0;
  bottom: 0;
  min-height: 2svh;
  padding-block: 3svh;
}

.bottom a {
  color:#d8d9dc;
  text-decoration: none;
  font-size: 13px;
  margin: 0 10px;
  padding-inline: 1svh;
}

.bottom a:hover{
  text-decoration: underline;
}

button {
  background-color: #303134;
  padding-inline: 15px;
  padding-block: 10px;
  color: #e6e8ea;
  text-decoration: none;
  border: 1px solid transparent;
  margin-top: 25px;
  margin-inline: 3px;
  border-radius: 3px;
}

button:hover{
  cursor: pointer;
  border: 1px #5e636e solid;
}

/* .searchbar {
  border: 1px #5e636e solid;
  background-color: #202124;
  border-radius: 40px;
  padding-inline-start: 50px;
  padding-inline-end: 350px;
  padding-block: 15px;
  margin-top: 20px;
  color: white;
} */


.searchbar #search {
  position: relative;
  left: 40px;
  top: 2px;
}

.searchbar #microphone, #camera {
  position: relative;
  right: 80px;
  padding: 5px;
  top: 2px;
  color: white;
}

.searchbar-input {
  border: 1px #5e636e solid;
  background-color: #202124;
  border-radius: 40px;
  padding-inline-start: 50px;
  padding-inline-end: 350px;
  padding-block: 15px;
  margin-top: 20px;
  color: white;
}

input:hover {
  background-color: #303134 ;
  border-color: #303134;
}

#search {
  color: white;
}

/* PHONE */
@media only screen and (max-width: 720px) {
      .searchbar-input{
          width: 80vw;
          padding-inline-start: 1vw;
          padding-inline-end: 5vw;
      }

      .searchbar #search {
          position: relative;
          left: 40px;
          top: 2px;
      }

      .searchbar #microphone, #camera {
          position: relative;
          top: -37px;
          left: 130px;
      }

      .bottom a, .bottom{
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: smaller;
          width: 100vw;
          margin: 0;
          margin-block: 2px;
      }
      .container{
          width: 100vw;
          min-height: 100vw;
      }
      .header a, .header{
          font-size: smaller;
          padding: 1px;
          margin: 10px;
          justify-content: center;
      }
      .gimg{
          width: 50vw;
      }
      .main{
          width: 100vw;
          padding: 0;
          padding-top: 40vw;
      }
}