body {
    background-color: #fff;
    font-family: sans-serif;
    color: #555;
  }
  /* HEADER */
  .container {
    display: flex;
    flex-direction: column;
  }
  
  .header {
    
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0px -30px 0px 00px;
    width: 100%;
    line-height: 2;
  
  }
  
  .header-left {
    display: flex;
    align-self: left;
  }
  
  .header-right {
    display: flex;
    align-self: right;
  }
  
  .header a {
    text-decoration: none;
    margin: 5px 10px;
    font-size: 0.8rem;
    color: #555;
    width: 30vw;
  }

  .logo {
    margin-bottom: -10px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
  }


  
  .header a:hover,
  .header a.hover,
  .header a:hover {
    color: #555;
    text-decoration: underline;
  }
  
  .apps-bg {
      display: flex;
      width: 45px;
      height: 45px;
      justify-content: center;
      align-items: center;
      margin: 8px;
    }
    
    .apps {
      width: 20px;
    }
    
    .sign-in {
      background-color: #1a73e8;
      margin: 0 15px 0 10px;
      width: 100px;
      font-size: 0.9rem;
    }
    
    /* MAIN */
    .main-text {
      height: 60vh;
      margin: 70px auto;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .google-img {
      width: 300px;
    }
    
    .search {
      margin: 30px auto 10px;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .search-input {
      width: 550px;
      height: 45px;
      border-radius: 45px;
      border: 1px #d3d3d3 solid;
      padding: 1px 50px 1px 40px;
      flex-shrink: 0;
    }
    
    .search-input:hover,
    .search-input:focus {
      box-shadow: 0 2px 3px 1px rgba(201, 201, 201, 0.5);
      outline: none;
    }
    
    .search #microphone {
      height: 20px;
      position: absolute;
      right: 15px;
    }
    
    .main-text-buttons {
      display: flex;
      margin: 20px;
    }
    
    .button {
      margin: 1px 10px;
      padding: 5px 10px;
      font-size: 0.9rem;
      color: #555;
    }
    
    .button:hover {
      box-shadow: 0 0 2px 1px rgba(189, 189, 189, 0.5);
      border: 1px solid transparent;
      cursor: pointer;
    }
    
    /* FOOTER */
    .flex-footer {
      width: 100vw;
      background-color: #f2f2f2;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: absolute;
      bottom: 0;
    }
    
    .flex-footer1 {
      height: 6vh;
      border-bottom: 1px solid #ddd;
      display: flex;
      margin-left: 20px;
    }
    
    .flex-footer2 {
      border-bottom: 1px solid #ddd;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0 20px;
    }
    
    .flex-settings,
    .flex-about {
      height: 6vh;
      display: flex;
    }
    
    .flex-settings span,
    .flex-about span,
    .country {
      font-size: 0.8rem;
      color: #555;
      padding: 1.7vh 10px 1vh;
      flex-shrink: 1;
    }