body {
  background: #111;
}

img {
  width: 100%;
}
.photo-grid-container {
  column-count: 5;
  column-width: 300px;
}
.photo-grid-item {
  margin: 0 auto 15px;
  max-width: 400px;
  width: 100%;
}

.btn {
  width: 30px;
  height: 30px;
  background-color: aliceblue;
  border: none;
  border-radius: 6px;
}
