* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.main {
    text-align: center;
}

.main img {
    width: 15%;
    height: 15%;
}

.search {
    margin: 20px 0;
}

.input-container {
    display: flex;
    align-items: center;
}

input[type="text"] {
    margin-left: 100px;
    height: 30px;
    width: 20%;
    margin-bottom: 10px;
}

input[type="submit"],
.main button {
    height: 35px;
    padding: 5px;
}

.main button {
    width: 120px;
    margin-left: 10px;
}

.main sup {
    margin-left: 5px;
}

.bf {
    font-size: 14px;
}

.img2 {
    width: 10px;
    height: 10px;
}

.main .nav1 {
    display: flex;
    justify-content: center;
}

.main .nav1 li {
    margin: 35px 0 20px 20px;
    font-size: 14px;
}

.main .nav li a {
    margin-bottom: 10px;
}

.footer {
    font-size: 12px;
}

@media screen and (max-width: 600px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }
