@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;
    background-color: antiquewhite;

}

.main {
    width: 450px;
    height: auto;
    padding-left: 10px;
}

.main h1 {
    float: right;
    margin-right: 45px;
    color:rgba(0, 0, 0, 0.5);
}

.main hr {
    width: 50px;
    height: 3px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    margin: 4px 0px 8px 0px;
}

.main h2 {
    color: rgba(0, 0, 0, 0.5); 
}

.logo {
    width: 40%;
    border: 2.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 12px;
}

.main ul {
    display: inline-flex;
    gap: 10px;
    font-size: 30px;
    list-style: none;
}

.main ul li a {
    display: flex;
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    color:rgba(0, 0, 0, 0.5);
}

.projects {
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	grid-gap: 2rem;
	align-items: center;
	margin-top: 5rem;
	text-align: center;
	cursor: pointer;
}

.projects h3 {
    color: rgba(0, 0, 0, 0.5);
}

.projects div img {
    max-width: 100%;
	width: 250px;
	height: auto;
	object-fit: cover;

    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

@media (max-width: 800px) {
    .main h1 {
        margin-right: 0px;
    }
}