* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

table {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
}

tr {
    text-align: center;
}

td {
    padding: 6px;
}